<h2>We've all got our own things...</h2>



<% @users.each do |user| %>
	<h1>
		<%= image_tag user.photo.url (:small)%>
		<br>
		<%=link_to user.fname + " " + user.lname, user_path(user) %>
	</h1>
	<br>

<% end -%>
