


<%= image_tag @user.photo.url (:medium)%>
<%=link_to "Edit My Profile", edit_user_path(current_user.id) %>
<h1><%= @user.fname + " " + @user.lname %></h1>

<%= @user.email %>
<br>
<br>
Here's my thing:



