<p><b>what comes after the first date is the tricky part.</b> </p>

<img src="http://www.clipartbest.com/cliparts/RcG/67g/RcG67g5ai.jpeg">
<br>
<br>

<p>You've met a cool person (or several of them) and have gone on a couple dates together.  <br>
Things are going great. ...Right? 
<br>
<br>
You definitely like each other, that's clear, but does your love interest <i>like</i> like you??  
<br>
<br>
You've played it cool all along, but wouldn't it just be so great to have an idea ... <i>where you stand</i>?  </p>
<br>

<hr>
<br>
<p> It's that nagging question that no one wants to ask because of fear that the answer may begin with "Here's the thing..."  But you still need to know.</p>

<p>Here's the thing... doesn't instruct you on how to date or who to date. It offers you the opportunity to gauge the other person's interests in your relationship without you having to show all of your cards.  Equally important, the simple relationship checkpoint questionnaire let's you drop the "it's not you, it's me" hint on that person who just can't take a hint.  All of the resolution with out all the confrontation! </p>

<p>Here's the thing... allows you track your dates, rate the experience, and perform a relationship checkpoint.  If you and your date are on the same page we will notify you of a match so you can get on with getting it on!</p>

<p><b><i>Here's to making dating slightly less awkward...</i></b></p>

