<h3 class="span12 pagination-centered">Invite your Date</h3>

<div class="span12 pagination-centered">
<%=form_tag "/invite_user" do |f| %>
	<%=label_tag :email, "Email" %>
	<%=text_field_tag :email %>
	<%=submit_tag :submit %>
<% end %>
</div>

