// Place all the styles related to the Experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.experience-right {
	float: right;
	width: 25%;
	text-align: right;
	margin-right: 150px;
}

h1{
	margin-left: 25px;
}
.experience-left {
	float: left;
	width: 50%;
	
	margin-left: 100px;

}
