// Place all the styles related to the Experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.experience-right {
	float: right;
	width: 25%;
	text-align: right;
	margin-right: 150px;
}

h1{
	margin-bottom: 25px;
	font-size: 80px;
	font-family: "Amatic SC", cursive;
	font-weight: 400;
}
.experience-left {
	float: left;
	width: 50%;
	
	margin-left: 100px;

}
a:hover {
	text-decoration:none;
}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}